<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/MessageBoard/views/img/logo.png">

	<title>留言板</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/MessageBoard/views/css/starter-template.css" rel="stylesheet">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

	<!-- ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
	.oneMessage {
		margin: 10px;
	}

	.newMessage {
		width: 100%;
	}

	textarea {
		resize: none;
		/* 鎖住使用者高度控制 */
		width: 100%;
		height: 100%;
	}

	.mainMessage {
		margin: 20px;
		background-color: rgba(200, 200, 200, 0.4);
	}

	.mainMessage button {
		margin: 3px;
	}

	div {
		width: 100%;
	}

	.time {
		font-size: 5px;
	}

	/*文字自動換行*/
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
</style>

<script src="../js/viewModels/showViewModel.js"></script>
<script src="../js/viewModels/messageViewModel.js"></script>
<script src="../js/viewModels/memberViewModel.js"></script>
<script src="../js/title.js"></script>
<script>

	let userID = -1;

	//設定textarea模式
	function setTextareaMode() {
		$("textarea").on('input', function (e) {
			$(this).height("");
			$(this).height(this.scrollHeight);
		});
		
	}

	//設定與現在的時間差
	function getTiemDifference(date) {
		let time = (new Date(new Date() - new Date(date))).getTime();
		let count = 0;
		time /= 1000;//秒

		if (time < 1) {
			return "剛剛";
		}

		if (time < 60) {
			return Math.floor(time) + "秒前";
		}

		time /= 60;//分
		if (time < 60) {
			return Math.floor(time) + "分前";
		}

		time /= 60;//小時
		if (time < 24) {
			return Math.floor(time) + "小時前";
		}

		time /= 24;//天
		if (time < 7) {
			return Math.floor(time) + "天前";
		}

		time /= 7;//週
		if (time < 7) {
			return Math.floor(time) + "週前";
		}

		time /= 4;//月
		if (time < 4) {
			return Math.floor(time) + "月前";
		}

		time /= 12;//年
		return Math.floor(time) + "月前";
	}


	$(window).ready(() => {
		$("body").css("visibility", "hidden");
		$.ajax({
			type: "GET",
			url: "/MessageBoard/member/getSessionUserID"
		}).then(function (e) {
			if (e >= 1) {
				userID = e;
			} else {
				$(".addMainMassage").remove();
			}

			readySetListeners();

			$("body").css("visibility", "visible");
		});

		updateMessageView();
	});

	//更新所有主留言板
	function updateMessageView() {
		$("#massageShow").empty();
		$.ajax({
			type: "GET",
			url: "/MessageBoard/message/getPublicBoard"
		}).then(function (e) {
			let jsonArr = JSON.parse(e);
			for (let jsonObj of jsonArr) {
				getBoardMessages(jsonObj._boardID);
			}

		});
	}

	//更新單一留言板
	function getBoardMessages(boardID, isUpdate = false) {

		$.ajax({
			type: "GET",
			url: `/MessageBoard/message/getBoardMessages?id=${boardID}`
		}).then(function (e) {
			let jsonMessageArr = JSON.parse(e);
			for (let key in jsonMessageArr) {
				let isMyself = (jsonMessageArr[key]._userID == userID);
				let timeStr = getTiemDifference(jsonMessageArr[key]._changeDate);
				let isBoard = (key == 0);
				if (isBoard) {
					if (isUpdate) {
						$(`#mainMessageShow${jsonMessageArr[key]._messageID}`).empty().append(
							getMainMessageView(
								jsonMessageArr[key]._userID,
								boardID,
								jsonMessageArr[key]._userName,
								jsonMessageArr[key]._message,
								timeStr,
								jsonMessageArr[key]._messageID,
								isMyself)
						);
					} else {
						$("#massageShow").append(getNewMainMessageView(
							jsonMessageArr[key]._userID,
							boardID,
							jsonMessageArr[key]._userName,
							jsonMessageArr[key]._message,
							timeStr,
							jsonMessageArr[key]._messageID,
							isMyself));
					}


				} else {
					$(`#boardMessage${boardID}`).append(getMessageView(
						jsonMessageArr[key]._userID,
						jsonMessageArr[key]._userName,
						jsonMessageArr[key]._message,
						timeStr,
						jsonMessageArr[key]._messageID,
						isMyself));
				}

				//如果是自己的就可以修改及刪除
				if (isMyself) {
					addDeleteAndUpdateListener(jsonMessageArr[key]._messageID, boardID, isBoard);
				}

			}

			//新增輸入面板
			if (userID > 0) {
				addMessageInputGrid(boardID);
			}
		});

	}

	//初始化監聽器
	function readySetListeners() {
		setTextareaMode();

		//新增主留言
		$("#subMain").click(() => {

			let board = { authority: 0 };
			let message = { message: $("#mainMessage").val() };
			let data = {
				'board': board,
				'message': message
			};
			$.ajax({
				type: "POST",
				url: "/MessageBoard/message/addMainMessage",
				data: { 0: JSON.stringify(data) }
			}).then(function (e) {
				jsonArr = JSON.parse(e);
				let boardID = jsonArr.boardID;
				let messageID = jsonArr.messageID;

				if (boardID >= 1) {
					$("#massageShow").prepend(getNewMainMessageView(
						userID,
						boardID,
						userName,
						message.message,
						getTiemDifference(new Date()),
						messageID,
						true
					));
					addMessageInputGrid(boardID);
					addDeleteAndUpdateListener(messageID, boardID, true);
					$("#mainMessage").val("").trigger('input');

				}
			});
		});
	}

	function addMessageInputGrid(boardID) {
		$(`#messageInputGrid${boardID}`).append(getInputGridMessageView(boardID));
		$(`#subMessage${boardID}`).click(() => {
			let message = $(`#addMessage${boardID}`).val();
			let data = {
				'boardID': boardID,
				'message': message
			};

			$.ajax({
				type: "POST",
				url: "/MessageBoard/message/addMessage",
				data: { 0: JSON.stringify(data) }
			}).then(function (messageID) {
				if (messageID >= 1) {
					$(`#boardMessage${boardID}`).append(getMessageView(
						userID,
						userName,
						message,
						getTiemDifference(new Date()),
						messageID,
						true));
					addDeleteAndUpdateListener(messageID, boardID);
					$(`#addMessage${boardID}`).val("").trigger('input');
				}
			});
		});
		setTextareaMode();
	}

	//設定刪除及修改監聽器
	function addDeleteAndUpdateListener(messageID, boardID, isBoard = false) {

		//刪除按鈕
		$(`#deleteMessage${messageID}`).click(() => {
			$.ajax({
				type: "DELETE",
				url: "/MessageBoard/message/deleteMessage",
				data: { 0: messageID }
			}).then(function (e) {
				let jsonArr = JSON.parse(e);
				switch (key = Object.keys(jsonArr)[0]) {
					case "message":
						$(`#message${jsonArr[key]}`).remove();
						break;
					case "board":
						$(`#mainMessageShow${jsonArr[key]}`).remove();
						break;
				}
			});
		});

		//修改按鈕
		$(`#updateMessageBtn${messageID}`).click(function () {
			let divIdStr = isBoard ? "mainMessageShow" : "message";

			$(`#text${messageID}`).html(getInputGridMessageView(messageID, $(`#text${messageID}`).children().last().text(), true));
			$(this).parent().children("button").remove();
			
			//上傳更新按鈕
			$(`#updateMessageSub${messageID}`).click(() => {
				let data = {
					"messageID": messageID,
					"message": $(`#updateMessage${messageID}`).val()
				};

				$.ajax({
					type: "PUT",
					url: "/MessageBoard/message/updateMessage",
					data: { 0: JSON.stringify(data) }
				}).then(function (e) {
					try {
						let jsonObj = JSON.parse(e);
						getBoardMessages(boardID, true);
					} catch (err) {
						alert("更新失敗");
					}
				});
			});

			//取消按鈕
			$(`#updateCancelBtn${messageID}`).click(() => {
				// thisHtmlParent.html(saveMessageStatus);
				getBoardMessages(boardID, true);
			});

			setTextareaMode();
			$(`#updateMessage${messageID}`).trigger('input');
		});

	}

</script>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/MessageBoard/views/pageFront/index_.html">留言板</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<!-- <li class="nav-item active">
					<div class="btn nav-link">存款</div>
				</li>
				<li class="nav-item active">
					<div class="btn nav-link">提款</div>
				</li>
				<li class="nav-item active">
					<div class="btn nav-link">查詢明細</div>
				</li> -->

			</ul>
			<ul class="navbar-nav my-2 my-lg-0">
				<li class="nav-item active">
					<div class="nav-link showUserName" id="showUserName"></div>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="login.html" id="showLogin">登入</a>
				</li>
				<li class="nav-item active" id="showRegistered">
					<a class="nav-link" href="registered.html">註冊</a>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" class="container">

		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="addMainMassage">
					<h2>來說點什麼吧</h2>
					<textarea id="mainMessage"></textarea>
					<div>
						<button class="btn btn-outline-success" style="visibility:hidden">送出</button>
						<button class="float-right btn btn-outline-success" type="button" id="subMain">送出</button>
					</div>
					<br>
				</div>

				<div id="massageShow"></div>
			</div>
			<div class="col-2"></div>
		</div>


	</main><!-- /.container -->

</body>

</html>