<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/MessageBoard/index">留言板</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{if $isLogin === true}}
                <li id="showUserName"><a
                        href={{( isset($isUpdate) && $isUpdate ) ? "#" : "/MessageBoard/member/getUpdateView"}}>{{$userName}}</a>
                </li>
                <li><a href="/MessageBoard/member/getLoginView" id="showLogin">登出</a></li>
                {{else}}
                <li><a href="/MessageBoard/member/getLoginView" id="showLogin">登入</a></li>
                <li id="showRegistered"><a href="/MessageBoard/member/getCreateView">註冊</a></li>
                {{/if}}
            </ul>
        </div>
    </div>

</nav>